@media (min-width: 501px) and (max-width: 1024px) {
    main {
        padding: 0 calc(((100vw - 768px) / 2) + 30px);
    }

    /* Ring pattern */

    .ring-pattern-top {
        left: -235px; /* -265px + 30px */
        top: 86px;
    }
    
    .ring-pattern-middle {
        left: 1000px; /* 570px + 30px */
        top: 1047px;
    }
    
    .ring-pattern-bottom {
        left: -338px; /* -368px + 30px */
        top: 3304px;
    }

    /* Text Styles */

    #intro-text {
        max-width: 445px;
        margin-top: 90px;
        margin-bottom: 60px;
    }

    .heading-text,
    h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
    }

    #nice-to-text {
        display: block;
    }

    .para-text {
        margin-top: 70px;
        margin-bottom: 34px;
    }

    .view {
        padding-top: 20px;
    }

    .view-text {
        padding-right: 30px;
    }

    .para-text.contact {
        margin-top: 20px;
        margin-bottom: 48px;
    }

    /* Intro section except nav */

    .circle-pattern {
        position: absolute;
        left: 660px;
        top: 471px;
    }

    #img-profile-d {
        display: none;
    }

    #img-profile-t {
        display: inline-block;
        position: absolute;
        z-index: -1;
        width:322px;
        height:600px;
        right: calc(((100vw - 768px) / 2) - 30px);
        top: 0;
    }

    /* Projects section */

    .projects-section {
        margin-bottom: 100px;
    }

    .header-projects {
        padding-bottom: 60px;
    }

    .projects {
        gap: 60px 24px;
    }

    /* Skills section */

    .skills-section {
        margin: 60px 0 100px 0;
    }

    /* Contact section */

    .contact-section { 
        padding: 0 calc(((100vw - 768px) / 2) + 30px);
    }

    .contact-main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 60px;
    }

    .bottom-nav {
        padding-bottom: 40px;
    }
}